@font-face {
    font-family: "Oxygen";
    src: url("/fonts/Oxygen-Regular.ttf")
}

* {
    font-family: "Oxygen", sans-serif;
    --main-color: #203e60;
    --main-color-dark: #172c46;
    --white: #fff;
}

body {
    margin: 0;
}

#header-container {
    position: fixed;
    width: 100%;
    z-index: 69696969;
}

#header-container * {
    position: relative;
}

header {
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    top: 0;
    height: 3.5rem;
    align-items: center;
    padding: 8px 16px;
    z-index: 6969;
}

#mectio-logo-wrapper {
    background-color: white;
    border-radius: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: .5rem;
}

#mectio-logo {
    align-self: center;
    height: 24px;
    padding: 4px;
}

#mectio-text-wrapper {
    padding: 8px 8px 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#mectio-logo-text {
    height: 22px;
    margin: 0;
}

#mectio-inst-text {
    color: var(--main-color);
    margin: 0;
    padding: 0px;
    font-size: 10px;
}

.mectio-window {
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    transition: 0.2s;
    position: absolute;
    padding-top: 0rem;
}

main.collapse1 .mectio-window {
    padding-top: 4rem;
}

main.collapse2 .mectio-window {
    padding-top: 6rem;
}

/* Nav styles */

nav {
    background-color: #80b2f0;
    height: 2rem;
    display: flex;
    padding: 0 2rem;
    font-size: 0.9rem;
}

nav * {
    height: 100%;
    align-items: center;
    display: flex;
}

#mectio-nav-title {
    background-color: #6c9ad2;
    font-weight: bold;
    padding: 0 1rem;
    margin-right: .5rem;
}

#mectio-nav-links a {
    padding: 0 .5rem;
    color: #222;
    text-decoration: none;
    transition: 0.2s;
}

#mectio-nav-links a:hover {
    color: #000;
    background-color: #6897d1;
}