@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.var.woff2") format('woff2-variations');
}

* {
    font-family: "Inter", sans-serif;
    --main-color: #203e60;
    --main-color-dark: #172c46;
    --main-color-light: #426897;
    --nav-color: #80b2f0;
    --nav-color-light: #bad1ec;
    --white: #fff;
}

SECTION.island {
    background-image: none;
    background-color: var(--main-color-light);
}

SECTION.island .islandHeader {
    font-family: "Inter", sans-serif;
    color: white;
}

.ls-island4 {
    background-color: var(--nav-color-light);
}