@font-face {
    font-family: "Oxygen";
    src: url("/fonts/Oxygen-Regular.ttf")
}

* {
    font-family: "Oxygen", sans-serif;
    --main-color: #203e60;
    --main-color-dark: #172c46;
    --nav-color: #80b2f0;
    --white: #fff;
}

SECTION.island .islandHeader {
    font-family: "Oxygen", sans-serif;
}

.islandHeaderContainer {
    background-image: none;
    background-color:
}