:root {
    --outline: #0006;
    --button-default-height: 1.75rem;
    --button-large-height: 2.5rem;
}

/* Header */
header > * {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

header > .center {
    justify-content: center;
    flex-grow: 2;
}

header > .right {
    justify-content: flex-end;
}

/* Buttons */
.outlined-chip {
    background-color: #fff0;
    height: var(--button-default-height);
    padding: 0 0.75rem;
    margin: 0 0.33rem;
    font-size: 1rem;

    display: flex;
    align-items: center;

    border: 0.05rem solid var(--outline);
    border-radius: 100vmax;
}

.outlined-chip img {
    height: 1rem;
}

.outlined-chip:first-child {
    margin-left: 0;
}

.outlined-chip:last-child {
    margin-right: 0;
}

.outlined-chip.large {
    height: var(--button-large-height);
    font-size: 1.33rem;
}

.outlined-chip.large img {
    height: 1.25rem;
}

.outlined-chip.circular {
    width: var(--button-default-height);
    padding: 0;
    align-items: center;
    justify-content: center;
}

.outlined-chip.large.circular {
    width: var(--button-large-height);
    padding: 0;
    align-items: center;
    justify-content: center;
}

/* Clickable chips */
.outlined-chip.clickable, a.outlined-chip, button.outlined-chip {
    cursor: pointer;
    transition-property: background-color, border-color, transform;
    transition-duration: 0.1s;
}

.outlined-chip.clickable:hover, a.outlined-chip:hover, button.outlined-chip:hover {
    background-color: #0001;
    border-color: #0008;
} 

.outlined-chip.clickable:active, a.outlined-chip:active, button.outlined-chip:active {
    background-color: #0003;
    border-color: #000A;
    transition-duration: 0s;
}


/* Navigation */
#mectio-nav-meta {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-inline: .5rem;
}
#mectio-nav-meta p {
    margin: 0;
}

#mectio-nav-title {
    font-size: .8rem;
    padding-bottom: .1rem;
}

#mectio-nav-description {
    font-size: .55rem;
}