/* Nav styles */

#nav-wrapper {
    padding: .5rem .7rem;
    background-image: linear-gradient(180deg, white, transparent);
}

#nav-wrapper.hidden {
    height: 0;
}

nav {
    height: 2rem;
    display: flex;
    
    box-sizing: border-box;
    z-index: 1001;
    transition: transform 0.1s, opacity 0.1s;
    transition-timing-function: var(--default-transition-curve);
}

#nav-wrapper.hidden nav {
    transform: translateY(-25%) scale(0.999);
    opacity: 0;
}

nav > div, .nav-box {
    font-size: 0.9rem;
    height: 2rem;
    align-items: center;
    display: flex;
    margin-inline: .3rem;

    background-color: var(--nav-color);
    box-shadow: 0px 0px 2px var(--nav-color-dark);
    border-radius: .5rem;
}

#mectio-nav-selector {
    background-color: var(--main-color-light);
    color: white;

    padding: 0 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

#mectio-nav-filler {
    opacity: 0;
    flex-grow: 1;
}

/* Nav dropdown */

#mectio-nav-dropdown {
    position: absolute;
    background-color: white;
    top: 100%;

    display: flex;
    flex-direction: column;

    height: auto;
    width: max-content;
    margin-left: -1rem;
    overflow: hidden;

    z-index: -1;
    transform: translateY(.5rem);
    transition: transform 0.2s;

    border-radius: .5rem;
    box-shadow: 0px 0px 4px #000a;
    pointer-events: auto; 
}

#mectio-nav-dropdown.hidden {
    transform: translateY(0rem);
    pointer-events: none; 
    opacity: 0;
}

#mectio-nav-dropdown a {
    color: black;
    text-decoration: none;
    padding: .6rem;
    border-bottom: .5px solid #0003;
}

#mectio-nav-dropdown a:last-of-type {
    border-bottom: none;
}

#mectio-nav-dropdown a:hover {
    background-color: #0001;
}

#mectio-nav-dropdown a::after {
    content: 'check';
    font-family: "Material Symbols Rounded";
    float: right;
    padding-left: 1rem;
    opacity: 0;
    transform: scale(.5) rotate(45deg);
    transition: opacity 0.2s, transform 0.2s;
}

#mectio-nav-dropdown a.selected::after {
    transform: scale(1) rotate(0deg);
}

/* Nav title */

#mectio-nav-title {
    width: max-content;
    display: flex; 
    align-items: center;
}

#mectio-nav-title::before {
    content: "link";
    font-family: "Material Symbols Rounded";
    margin-left: -.25rem;
    margin-right: .25rem;
}

#mectio-nav-title::after {
    content: "expand_more";
    font-family: "Material Symbols Rounded";
    margin-left: .25rem;
    margin-right: -.25rem;
}

/* Nav links */

#mectio-nav-links {
    overflow: hidden;
}

#mectio-nav-links a {
    padding: 0 .5rem;
    color: #222;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
}

#mectio-nav-links a:first-of-type::before {
    content: "";
    padding-left: .25rem;
}

#mectio-nav-links a:last-of-type {
    padding-right: .75rem;
}

#mectio-nav-links a:hover {
    color: #000;
    background-color: #6897d1;
}

#mectio-nav-links a.active {
    text-shadow: 0 0 0.05rem black;
}

.mectio-nav-group {
    height: 100%;
    display: flex;
}

.mectio-nav-group a {
    height: 100%;
    display: flex;
    align-items: center;
}

/* Active link */

.mectio-nav-group a.active::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: .8rem;
    height: .2rem;
    background-color: var(--main-color-light);
    border-radius: 100rem 100rem 0 0;
}