body {
    height: 420px;
    width: 420px;
    overflow: scroll;
    background: white;
    margin: 0;
}
header {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
}
header p {
    font-size: 20px;
    margin: 4px;
}
#mectio-logo {
    background-color: white;
    border-radius: 12px;
    padding: 8px 10px;
    margin-right: 8px;
}
main {
    margin: 8px;
}

.settings-option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: .5rem 0;
    padding: .5rem;
    box-sizing: border-box;
    font-size: .9rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1rem;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 100rem;
    box-shadow: 0px 0px 4px #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-radius: 100rem;
    box-shadow: 0px 2px 4px #aaa;
}

input:checked + .slider {
    background-color: var(--main-color-light);
}

input:checked + .slider:before {
    left: 100%;
    transform: translate(-100%, -50%);
}